body {
  position: relative;
  overflow: hidden;
  user-select: none;
}

button {
  font-family: $font-stack;
  color: $red;
  background-color: transparent;
  border: 1px solid $accent;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0;
  outline: none;

  &:hover {
    background-color: rgba($accent, 0.1);
  }
}
