.main-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: $color-backgroud;

  .title-container {
    @include flex-center;
    flex: 1;
  }

  .menu-buttons {
    @include flex-center;
    flex: 2;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    p {
      text-align: center;
    }
  }
}
